@import '~bulma/css/bulma.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column.has-gap{
  column-gap: var(--bulma-column-gap) !important;
  row-gap: var(--bulma-row-gap) !important;
}

.card.cell{
  border: 2px solid transparent;
  box-sizing: border-box;
  height: 280px;
}
.card:hover{
  border: 2px solid #02e0be !important;
}
.card.cell img{
  border-radius: 50%;
}

.card.cell .content p{
  height: 80px;
  overflow: auto;
}
